body{
    background-image: url("images/achtergrond.jpg");
    
}
.board{
    display:flex;
    justify-content: center;
    margin-top: 50px;
    margin-left:240px;
    width: 1000px;
    height: 640px;
    background-color: blueviolet;
}